<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.min.css">

    <style type="text/css"> 
      .text-center { margin-top: 10%; text-align: center; }

      .calender { margin: 0 auto; width: 400px; height: 374.8571428571px; padding: 16px 18px; border: 1px solid #B3B3B3; overflow: hidden; }
      .calender table { border-collapse: collapse; }
      .calender .weekdays th { text-align: center; vertical-align: middle; text-transform: uppercase; height: 57.1428571429px; width: 57.1428571429px; }
      .calender .days { height: 57.1428571429px; width: 57.1428571429px; }
      .calender .days td { text-align: center; cursor: pointer; }
      .calender .days td p { border-radius: 50%; width: 44px; height: 44px; margin: 0; display: inline-block; text-align: center; padding: 10px; }
      .calender .days td p.null_day { display: none; }
      .calender .days td p.undone { color: white; background-color: #FF1654; }
      .calender .days td p.done { color: white; background-color: #70C1B3; }
      .calender .days td:hover p { background-color: #E6E6E6; }
      .calender .days td:hover p.undone { background-color: #CC1243; }
      .calender .days td:hover p.done { background-color: #549187; }
    </style>
  </head>

  <body>
    <!-- Title -->
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <h1 class="title">Hbtrack</h1>
        </div>
      </div>
    </section>

    <!-- Calendar -->
    <section class="section>">
    <div  class = "calender">
      <table>
        <!-- Generate Week Days -->
        <tr class = "weekdays">
          <% @week_days.each do |day| %>
            <th><%= day %></th>
          <% end %>
        </tr>

        <!-- Generate Days -->
        <% @weeks.each do |week| %>
          <tr class = "days">
          <% week.each do |day| %>
            <%= td_for(day) %>
          <% end %>
          </tr>
        <% end %>
      </table>
    </div>
    </section>

    <!-- Stat -->
    <section class="section">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Total</p>
          <p class="title"><%= @stat[:total] %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Done</p>
          <p class="title"><%= @stat[:done] %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Undone</p>
          <p class="title"><%= @stat[:undone] %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Completion Rate</p>
          <p class="title"><%= @stat[:percentage] %>%</p>
        </div>
      </div>
    </nav>
    </section>
    <!-- End of Stat -->
  </body>
</html>